header {
    background-color: red;
    border-bottom: 2px solid red;
}

main {
    background-color: lightcoral;
    height: 100vh;
}

input {
    width: 25%;
}

.taskList {
    list-style-position: inside;
}